// Place all the styles related to the Points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.points.index {
    overflow: scroll;
    padding-bottom: 10px;
    .container-fluid {
        height: 100%;
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .col-12 {
            padding: 0 !important;
        }
        .row {
            .col-5, .col-7  {
                height: 50%;
                margin-bottom: -2%;
            } 

            .col-5 {
                padding-left: 0;
            }
            .left-col {
                align-self: flex-start;
            }
            width: 100%; 
            height: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
        }
    }
    form {
        button {
            margin-top: 1.5rem;
        }
        position: relative;
        height: 100%;
        .counter {
            position: absolute;
            bottom: 0%;
            right: 0%;
            z-index: 1000;
            height: 7%;
            width: 30%;
            padding: .2rem;

            margin:0;
        }
    }
    .card-text {
        margin-bottom: .25rem;
    }
    .card {
        margin: 15px 10px;
    }

    .col-12.bg-dark.jumbotron {
        margin-bottom: 0;
        
        .card {
        
        }

    }
    .map-row {
        height: 40%;
        //margin-top: -30px;
        .col-12.bg-dark.jumbotron {
            height: auto;

        }
        
    }
    .no-points {
        font-size: 120%;
        padding: 0;
        //bottom: 5%;
        .card.mb-3 {
            margin: 0;
            margin-bottom: 2rem !important;
        }
    }

    .map-jumbotron {
        padding: 5px !important;
        margin-bottom: 2rem !important;
        margin-top: 2rem !important;
    }

}

#dashboard-points-row {
    height: 100%;
    padding-top: 2rem;

}


@media (max-width: 850px) {

    .points.index {
        .container-fluid {
            padding: 0;
        }
        .jumbotron {
            margin-bottom: 10px !important; 
        }
        .map-row {
            margin-top: 0;
        }

        .map-jumbotron {
            height: 60% !important;
        }

        form.jumbotron.bg-dark {
            .btn {

            }
        }

    }

} 

