<div class="container-fluid">
    <div id="particles-js"></div>
    <div id="particles-js2"></div>
    <div class="row" id="dashboard-apartments-row">
        <h1>Apartments#index</h1>
        <%= javascript_pack_tag 'dashboard-apartments-ui', 'data-turbolinks-track': 'reload' %>
    </div>
</div>

